
<div class="d-flex" *ngIf="producto">

    <div class="col-6">
        <img [src]="producto.fotoProducto" class="card-img-top img-fluid" [alt]="" style="height: 320px;">
        <div class="card-block mt-2">
            <button (click)="volver()" type="button" class="btn btn-outline-danger mt-3">Volver</button>
        </div>
    </div>
    <div class="col-6">
        <h3>{{producto.descripcionProducto}}</h3>
        <p class="mt-4">Precio:<span class="ml-3"> {{producto.precioProducto | currency:'S/. '}}</span></p>
        <p class="mt-4">Stock: <span class="ml-3"> {{producto.stockProducto}}</span>    </p>
        <div class="form-group row ">
          
            <label class="col-6">Seleccionar cantidad:</label>
             <input class="form-control col-6 text-center" type="number" min="1" (change)="multiplicar($event.target.value)" [ngModel]="cantidad">
        </div>

        <div class="form-group row">
            <label class="col-6">Total:</label>
            <p class="col-6 text-center text-danger">{{parcialTotal | currency:'S/. '}}</p>
        </div>

        <div class="card-block mt-5">
            <button (click)="agregar(producto)" type="button" class="btn btn-primary btn-block mt-3">Agregar</button>
        </div>

    </div>
</div>
