<div class="container mt-2">
    <button class="btn btn-primary mt" (click)="verModal(modalRegistro)">Registrar producto</button>

    <p class="text-center mt-3 h2">Productos</p>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" style="width: 5%;">Código </th>
                <th class="text-center" style="width: 40%;">Nombre</th>
                <th class="text-center" style="width: 10%;">Precio</th>
                <th class="text-center" style="width: 10%;">Stock</th>
                <th class="text-center" style="width: 15%;">Categoría</th>
                <th class="text-center" style="width: 15%;">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos | paginate:{itemsPerPage:5,currentPage:p}">
                <td class="text-center">{{producto.idProducto}}</td>
                <td class="text-center">{{producto.nombreProducto}}</td>
                <td class="text-center">{{producto.precioProducto}}</td>
                <td class="text-center">{{producto.stockProducto}}</td>
                <td class="text-center">{{producto.categoria.nombreCategoria}}</td>
                <td class="text-center">
                    <i style="cursor: pointer;" class="mr-4 bi bi-pencil" (click)="editar(modalRegistro,producto)"></i>
                    <i style="cursor: pointer;" class="bi bi-trash-fill" (click)="eliminar(producto.idProducto)"></i>
                </td>
            </tr>

        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
 
    <ng-template #modalRegistro let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Registro de producto</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="cerrar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="id_registra" action="saveProducto" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="producto.nombreProducto" type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Nombre del producto">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Precio{{producto.stockProducto}}</label>
                            <input [(ngModel)]="producto.precioProducto" type="text" class="form-control" id="precio" name="precio"
                                placeholder="Ingrese S/0.00">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Stock</label>
                            <input [(ngModel)]="producto.stockProducto" type="text" class="form-control" id="stock" name="stock"
                                placeholder="Ingrese Stock">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Proveedor</label><br>
                            <select [(ngModel)]="producto.proveedor" class="form-control" id="proveedor" name="proveedor">
                                <option>[SELECCIONE]</option>
                                <option *ngFor="let proveedor of proveedores"
                                [ngValue]="proveedor">{{proveedor.nombreProveedor}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Categoria</label><br>
                            <select [(ngModel)]="producto.categoria" class="form-control" id="categoria" name="categoria">
                                <option>[SELECCIONE]</option>
                                <option *ngFor="let categoria of categorias" 
                                [ngValue]="categoria">{{categoria.nombreCategoria}}</option>
                                    
                            </select>
                        </div>
                    </div>
                </div>

                <div  class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Descripción</label>
                            <input [(ngModel)]="producto.descripcionProducto" type="text" class="form-control" id="descripcion" name="stock_pro"
                                placeholder="Ingrese descripcion">
                        </div>
                    </div>
                </div>

                <div *ngIf="!producto.fotoProducto" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Elegir imagen</label>
                            <input type="file" (change)="imagenEscogida($event)" name="img" id="img">
                        </div>
                    </div>
                </div>
                <div *ngIf="producto.fotoProducto" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <img [src]="producto.fotoProducto" alt="">
                        </div>
                    </div>
                </div>
                

            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="downloadURL" (click)="saveProducto()" type="submit" class="btn btn-primary">Registrar</button>
        </div>
        <div *ngIf="producto.fotoProducto" class="modal-footer">
            <button  (click)="editarProducto()" type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </ng-template>
    
    
    <br><br><br><br>
</div>