<div  class="contenedor">
    <img class="logo" src="https://i.linio.com/p/57e93701a2b640ac31eb18d4100f955e-catalog.jpg" alt="">
    <form >
        <!-- autocomplete="off" -->
  
    <div class="form-group">
        <label>Usuario:</label>
        <input [(ngModel)]="usuario" type="text" name="login" class="form-control">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input [(ngModel)]="password" type="password" name="pass" class="form-control">
    </div>
    <input (click)="iniciarSesion()" type="submit" value="Ingresar" class="btn btn-primary btn-block">
</form>
<div class="text-center">
    <a href="http://localhost:8086/Spring-Articulo-SOAP/index.jsp" class="registrarse"> Registrarse</a>
</div>
