<div  class="contenedor">
    <img class="logo" src="https://i.linio.com/p/57e93701a2b640ac31eb18d4100f955e-catalog.jpg" alt="">
    <form >
        <!-- autocomplete="off" -->
  
    <div class="form-group">
        <label>Usuario:</label>
        <input type="text" name="login" class="form-control">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input  type="password" name="pass" class="form-control">
    </div>
    <input type="submit" value="Ingresar" class="btn btn-primary btn-block">
</form>
<div class="text-center">
    <a class="registrarse"> Registrarse</a>
</div>
