<h3 class="text-center">BOLETAS</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-center" style="width: 25%;">Número boleta </th>
            <th class="text-center" style="width: 25%;">Fecha</th>
            <th class="text-center" style="width: 25%;">Estado</th>
            <th class="text-center" style="width: 25%;">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let boleta of boletas">
            <td class="text-center">{{boleta.numeroBoleta}}</td>
            <td class="text-center">{{boleta.fecha | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="boleta.estado ==1" class="text-center">Pedido en Proceso</td>
            <td *ngIf="boleta.estado ==2" class="text-center">Pedido enviado</td>
            <td *ngIf="boleta.estado ==3" class="text-center">Pedido entregado</td>
            
            <td class="text-center">
               <button (click)="detallePedido(boleta.numeroBoleta)" class="btn btn-outline-success">Detalles</button>
            </td>
        </tr>

    </tbody>
</table>
